body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BBB;
}
.heart{
    position: relative;
    height: 260px;
    width: 200px;
    background-color: rgb(203, 27, 209);
    transform: rotate(45deg);
    border-radius: 200px 200px 0 0;
}
.heart::before {
    content: "";
    position:absolute;
    top: 30px;
    left: -30px;
    height: 260px;
    width: 200px;
    background-color: rgb(203, 27, 209);
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;

}
.heart::after {
    content: "Love";
    position: absolute;
    top: 35%;
    left: -9%;
    font-size: 40px;
    color:#fcf6f6;
    transform: rotate(-45deg);
}